body {
    background-color: #35654d;
    text-align: center;
}

.bj {
    background-color: #d12d36;
    text-align: center;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

h1 {
    text-shadow: 2px 2px white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

h2 {
    /* background-color: white; */
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    display: inline;
}

.dealerData *{
    display: inline;
}

button {
    border-radius: 5px;
}

button:hover {
    background-color: lightgrey;
}

#dealerHand {
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    display: none;
}

#playerHand {
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    display: none;
}

#playerScore {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 29px;
    border-radius: 15px;
    display: none;
}

#dealerScore {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 29px;
    border-radius: 15px;
    margin-bottom: 15px;
    display: none;
}

#gameResult {
    display: none;
    font-size: larger;
    /* background-color: white; */
    width: auto;
}

.result {
    color: white;
}

#dealerCards * {
    width: 150px;
}

#playerCards * {
    width: 150px;
}

#animationContainer {
    position: relative;
    width: 1500px;
    margin: auto;
    /* background-color: peachpuff; */
}

#animatedDeck {
    position: absolute;
    left: 100px;
    bottom: 180px;
}