body {
    background-color: #35654d;
    text-align: center;
}

.bj {
    background-color: #d12d36;
    text-align: center;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

h1 {
    text-shadow: 2px 2px white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

h2 {
    /* background-color: white; */
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    display: inline;
}

button {
    border-radius: 5px;
}

button:hover {
    background-color: lightgrey;
}

#dealerHand {
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    display: none;
}

#playerHand {
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    display: none;
}

#playerScore {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 29px;
    border-radius: 15px;
    display: none;
    position: relative;
    top: -5px;
}

#dealerScore {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 29px;
    border-radius: 15px;
    position: relative;
    top: -5px;
    display: none;
}

.buttons {
    padding-bottom: 8px;
}

#gameResult {
    display: none;
    font-size: larger;
    /* background-color: white; */
    width: auto;
}

.result {
    color: white;
    margin-top: 250px;
}

#dealerCards * {
    width: 150px;
}

#playerCards * {
    width: 150px;
}

#animationContainer {
    position: relative;
    /* width: 1500px; */
    margin: auto;
    /* background-color: peachpuff; */
    height: 100%;
}

#animatedDeck {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 320px;
    width: 150px;
}

.staticDeck {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 345px;
    width: 150px;
}

.buttonsAndPlayer {
    position: absolute;
    top: 610px;
    /* left: 50vw; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    /* background-color: peachpuff; */
}