body {
    background-color: #35654d;
    text-align: center;
}

.bj {
    background-color: #d12d36;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

h1 {
    text-shadow: 2px 2px white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

h4 {
    background-color: white;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 15px;
}

button {
    border-radius: 5px;
}

#dealer {
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    display: none;
}

#player {
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    display: none;
}